tr:nth-child(odd) {
	
	border-radius: 10px 10px 10px 10px;
	padding:1%;
	margin:1%;
}
tr:nth-child(even) {
		border-radius: 10px 10px 10px 10px;
	padding:1%;
	margin:1%;
}
tr:last-child {
	border-radius: 0 0 10px 10px;
	padding:1%;
	margin:1%;
}
tr:last-child > td:first-child {
	border-radius: 10px ;
	padding:1%;
	margin:1%;
}
tr:last-child > td:last-child {
	padding:1%;
	margin:1%;
	border-radius: 10px;
}

table.cal>tbody> th,td
 {
	display:in-line;	
		width:10%;margin: 2%;
	padding:2%;
	height:60px;
		border: 2px outset white;
	vertical-align:top;

	text-align: center;
	border-radius: 10px;
}
th {
	text-align: center;
	background: #ffffff;
	border: 2px outset grey;
}

.horas{
	margin: 0;
	padding: 0;
	background-color:#FFD180 ;
}
.Lengua {
	padding: 0;
	margin: 0;
	background-color: #A5D6A7;
	}
.Mates{ padding:0; margin:0; background-color: #FF8A80;}
.Ingles{ padding:0; margin:0; background-color: #B39DDB ;}
.Musica { padding:0; margin:0; background-color: #FFCDD2 ;}
.Tecno{ padding:0; margin:0; background-color:#008080 ;}
.Edfisica{ padding:0; margin:0; background-color:#BCAAA4;}
.descans {background-color:#FFffff;margin;0 ;padding:0;}
span {
	display: block;
	text-align: center;
	color: #800000;
	visibility: hidden;
}
td:active > span {
	visibility: visible;
}