h1 {
    color: green;
    text-align: center;
}

#masterfield {
    background-color: gainsboro;
}

#fieldinfobasic {
    background-color: coral;
}

#fieldnacionalidad {
    background-color: greenyellow;
}

#fieldestudios {
    background-color: pink;
}

#fieldidiomas {
    background-color: darkturquoise;
}

#fieldbotones {
    background-color: gray;
}

#legdestudios {
    color: blue;
}

#legdnacionalidad {
    color: orange;
}

#legdidiomas {
    color: red;
}