html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  background-image: linear-gradient(purple, blue );
  background-repeat: no-repeat;
} 

table,
th,
td {
  border: 1px solid black;
  color: white;
}
table{
  height: 400px;
  width: 100%;
  
}
h3{
  text-align: center;
  color: white;
}