html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
}
 .cabesado{
     color: white;
     text-align: center;
 }
 .jul{ 
     text-decoration: none;
     color: white;
 }