body {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
div {
    border: solid black 1px;
}
#primerdiv1 {
    grid-column-start: 3;
}
#div2 {
    grid-column-start: 3;
}
#termina {
    grid-column-end: 4;

}
#div3 {
   -ms-grid-column-end: span 2;
}