/* Colors */
.text{
  color: white;
}
.green_oscured {
  background-color: #669900;
}
.green {
  background-color: #99cc00;
}
.black {
  background-color: #000000;
}

/* Columnas */
.left-side {
  float: left;
}
.right-side {
  float: right;
}

/* Tabla General */
.alltable {
  width: 600px;
  height: 600px;
}

/* Columna Izquierda */
.cuadrado-1 {
  height: 95px;
  width: 400px;
  margin-bottom: 5px;

}
.cuadrado-2 {
  height: 195px;
  width: 200px;
}
.cuadrado-3 {
  height: 295px;
  width: 200px;
  margin
}

/* Columna Derecha */
.cuadrado-8 {
  height: 95px;
  width: 195px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.cuadrado-9 {
  height: 95px;
  width: 195px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.cuadrado-10 {
  height: 95px;
  width: 195px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.cuadrado-11 {
  height: 195px;
  width: 195px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.cuadrado-12 {
  height: 95px;
  width: 195px;
  margin-left: 5px;
}