.green_oscured {
  background-color: #669900;
}

.green {
  background-color: #99cc00;
}

.black {
  background-color: #000000;
}

.left-side {
float: left;
}
.right-side{
  float: right;
}

.alltable {
  width: 600px;
  height: 600px;
}
.cuadrado-1 {
  height: 100px;
  width: 400px;
}
.cuadrado-2 {
    height: 100px;
    width: 200px;
  }
  .cuadrado-3 {
    height: 200px;
    width: 200px;
  }
  .cuadrado-4 {
    height: 300px;
    width: 200px;
  }
  .cuadrado-5 {
    height: 100px;
    width: 200px;
  }
  .cuadrado-6 {
    height: 100px;
    width: 200px;
  }
  .cuadrado-7 {
    height: 200px;
    width: 200px;
  }
  .cuadrado-8 {
    height: 100px;
    width: 200px;
  }
  .cuadrado-9 {
    height: 200px;
    width: 200px;
  }
  .cuadrado-10 {
    height: 100px;
    width: 200px;
  }
  .cuadrado-11 {
    height: 100px;
    width: 200px;
  }