html {
  height: 100%;
}

#bodrec {
  background-color: cornflowerblue;
  font-family: "Spectral SC", serif;
}

table,
th,
td {
  border: 2px solid black;
  color: red;
  font-size: 64px;
  text-align: center;
}
th {
  background-color: aliceblue;
}
td {
  background-color: deepskyblue;
}

table {
  height: 100%;
  width: 100%;
}

#pf {
  text-decoration: none;
  color: red;
}
.pata {
}
.subti{
  color: chocolate;
  font-size: 40px;
}